*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    font-size:20px;
  }


  body a{
    color: darkorchid;
    text-decoration: none;
  }
  h1{
      font-size:30px;
      margin-left:70px;
  }
  .login-form-wrap {
      /* display: flex;
      justify-content: center;
      align-items: center; */
      max-width: 1100px;
      max-height: 800px;
      margin: 0 auto;
      border-radius: 50px;
      box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.47);
      margin-top: 10%;
      
  }
  .welcome p {
      font-size: 25px;
      margin-left:50px;
  }
  .left-section{
          /* display: flex;
      justify-content: center;
      align-items: center; */
    padding-right: 30px;
    background: #fff;
    height: 540px;
    float:left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .right-section {
      /* margin-right: 100px; */
      max-width: 600px;
      position: relative;
      float: right;
      align-items: center;
      background-image: url(picture.jpg);
      background-size: cover;
      background-position: 570px 0px;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-right: 100px;
  }
  .welcome{
    
    /* position: absolute; */
    max-width: 100%;
    height:100%;
    top:45%;
    padding-top: 30%;
    text-align: center;
    right: 110px;
  }
  .title {
      text-align: center;
      margin-top: 80px;
      color: #292929;
      line-height: 30px;
      margin-bottom: 30px;
  }
  .form {
      max-width: 260px;
      margin: 0 auto;
      text-align: center;
  }
  .form input[type=text] {
      max-width: 350px;
      padding: 14px 12px;
      border-radius: 30px;
      border: 1px solid #ddd;
      margin-bottom: 15px;
      outline: none;
      box-shadow: 0px 0px 42px #d4d4d4;
  }
  .form select{
    max-width: 350px;
    padding: 14px 100px 12px 12px;
    border-radius: 30px;
    border:none;
    margin-bottom: 15px;
    outline: none;
    box-shadow: 0px 0px 42px #d4d4d4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

  span.floatleft {
      font-size: 13px;
      float: left;
  }
  span.floatright {
      font-size: 13px;
      float: right;
  }
  .form input[type="submit"] {
      display: inline-block;
      border: none;
      max-width: 350px;
      padding: 11px;
      background-color: rgb(45, 37, 161);
      color: #fff;
      border-radius: 30px;
      text-align: center;
      font-weight: 400;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 20px;
      margin: 20px 0px;
      transition: 0.3s all ease-in-out;
  }
  .form input[type="submit"]:focus {
    outline: none;
  }
  .form input[type="submit"]:hover {
    background: #111;
  }

  @media (max-width: 480px) {
    body {
      background-color:#7ebff5
    }
    .left-section{
      display: block;
      padding-right: 20px;
      align-items: center;
    }
    .right-section{
      display: none;
    }
  }
  @media (min-width: 481px){
    body {
      background-color:#7ebff5
    }
    .left-section{
      display: block;
      padding-right: 20px;
      align-items: center;
    }
    .right-section{
      display: none;
      width: 100%;
    }
  }

  @media (min-width: 716px){
    body {
      background-color:#7ebff5
    }
    .right-section{
      max-width:100%;
      display: block;
    }
  } 