:root {
	--dark-color-a:#2969b3;
	--dark-color-b:#3547e6;
	--light-color:white;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
html{
	background-color:rgb(157, 185, 207) ;
}
body {
    color: black;
	font-family:'Poppins';
	font-size: 30px;
	
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1800px;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	border-left: 1px solid;
	height: 750px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	
	max-width: 500px;
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 30px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chatMessages {
	width: 1300px;
	padding: 30px;
	max-height: 800px;
	overflow-y: scroll;
	
}

.chatMessages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #f1ebeb;
	border-radius: 10px;
}

.chatMessages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: 	#6C7B8B;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chatMessages .message .meta span {
	color: #777;
}


.chat-form-container {
	padding: 20px 30px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	background-color: var(--dark-color-a);
}
.form input[type=text] {
	/* width: 350px;
	height: 10px;
	margin-top: 28px;
	padding: 14px 12px; */
	border-bottom-left-radius: 10px;
	border: 1px solid #ddd;
	/* margin-bottom: 15px; */
	outline: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 30px #d4d4d4;
}

.form button.btn{
	display: inline-block;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.emoji{
	display: inline-block;
}
.emoji:hover{
	cursor: pointer;
}
.dashboard{
	position: relative;
}
.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}